* Navigation grid */ .header {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 0px;
  position: fixed;
  background-color: var(--low-opacity-bg);
}

.header a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  color: #000;
  color: var(--color-text-main);
  text-decoration: none;
  border-style: none;
}
.header a:hover {
  background: var(--color-primary);
  border-radius: 20px;
}

.header .links {
  padding: 0.5rem 0rem 0.5rem;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  padding: 0 1rem;
  color: var(--color-text-main);
}
